/* 
Program name: Style Sheet for Medical Form
Author: Aish Ali
Date created: 02/10/2026
Date last edited: 02/11/2026
Version: 1.0
Description: Styling for patient registration form
*/

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
    margin: 0;
}

/* Header */
#header {
    background-color: rgb(200, 16, 46);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

#logo {
    height: 100px; 
    float: left;
}

/* Form */
form {
    background-color: rgb(255, 255, 255);
    width: 900px;
    margin: 30px auto; 
    padding: 25px;
    border-radius: 8px;
}
.line {
    display: inline-block;
    width: 150px; 
    font-weight: bold;
}

/* Table */
table {
    width: 100%;
}

tr {
    height: 50px;
}

/* Labels */
label {
    font-weight: bold;
    margin-right: 5px;
}

/* Textarea */
textarea {
    width: 95%;
    padding: 8px;
}

/* Radio and Checkbox */
input[type="radio"],
input[type="checkbox"] {
    margin-left: 10px;
}

/* Buttons */
input[type="submit"],
input[type="reset"],
input[type="contact"]
{
    background-color: rgb(200, 16, 46);
    color: rgb(255, 255, 255);
    padding: 8px 15px;
    font-weight: bold;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: rgb(160, 10, 35);
}

/* Footer */
#footer {
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    margin-top: 40px;

}
