<!--Program Name: Style file for main patient form
Author: Aish Ali
Date Created: 02/10/2026
Date Last Edited: 02/10/2026
Version: 1.0
Description: This file will help code to style the main patient HTML form. 

-->

h1 {
  color: red;
}
