/* 
Program name: style.css
Author: Aish Ali
Date created: 02/10/2026
Date last edited: 02/11/2026
Version: 1.0
Description: Basic UH-colored styling for patient registration form
*/

/* Body */

body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
    margin:0;

}

/* Header */

header {
  margin: 0;
  font-weight: bold;

}


/* Form */

form  {
  background-color: rgb(255, 255, 255);
  width: 900px;
  margin: 30px;
  padding: 25px;
  border-radius: 8px;

}

/* table */

table {
  width: 100%;
}











  
